* {
    scrollbar-color: #373177 #f1f1f1;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #373177;
}

::-webkit-scrollbar-thumb:hover {
    background: #f3764a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.pade-loader {
    z-index: 99999999;
    display: flex;
}

.bg-dark-seconday {
    background-color: #1c1c1e !important;
}

.notifification-dropdown {
    max-height: 300px;
    overflow: auto;
    min-width: 300px;
}

.min-vh-50 {
    min-height: 50vh !important;
}

.min-vh-75 {
    min-height: 75vh !important;
}

.min-vh-65 {
    min-height: 65vh !important;
}

.banner-search {
    background: white;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
}

.home-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.owl-controls.clickable {
    position: absolute;
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
    margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
    background-color: var(--bs-light);
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.cursor-pointer:hover {
    cursor: pointer;
}

.profile-dropdown {
    min-width: 15rem;
}

div .select2-container {
    width: 100% !important;
}

.select2-container {
    z-index: 99;
}

.modal .select2-container {
    z-index: 99999999;
}

.input-group .select2-container--default .select2-selection--single {
    padding: 4px 0;
    height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}

.input-group.input-group-lg .select2-container--default .select2-selection--single {
    padding: 14px 0;
}

.category-list-item {
    transition: all 500ms;
}

.category-list-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.side-bar-heading {
    text-align-last: justify;
}

.sidebar .form-label .value-max-price, .sidebar .form-label .value-max-price {
    text-align-last: justify;
}

.search-ads-form .input-group .btn.rounded-circle {
    font-size: 13px;
}

.post-ad-sticky {
    display: inline-block;
    bottom: 0%;
    left: 100%;
    z-index: 999999;
}

.navbar {
    z-index: 999;
}

.modal {
    z-index: 99999999;
}

.rounded-xl {
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

.object-fit-cover {
    object-fit: cover;
}

.rounded-md {
    border-radius: 12px;
}

button.ad-delete-button {
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(41, 41, 41);
    background: #e7e7e7;
    border-top-right-radius: 12px;
    height: 58px;
    width: 58px;
    border-bottom-left-radius: 52px;
    padding-left: 14px;
    padding-bottom: 8px;
    transition: all 300ms;
}

.ad-delete-button:hover {
    background-color: orangered;
    color: white;
}

button.ad-edit-button {
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgb(41, 41, 41);
    background: #e7e7e7;
    border-bottom-right-radius: 12px;
    height: 58px;
    width: 58px;
    border-top-left-radius: 52px;
    padding-left: 14px;
    padding-bottom: 8px;
    transition: all 300ms;
}

button.ad-sold-button {
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(41, 41, 41);
    background: #e7e7e7;
    border-bottom-left-radius: 52px;
    height: 58px;
    width: 58px;
    border-top-left-radius: 52px;
    padding-left: 14px;
    padding-bottom: 8px;
    transition: all 300ms;
}

.ad-edit-button:hover {
    background-color: var(--bs-blue);
    color: white;
}

.ad-sold-button:hover {
    color: white;
    background-color: var(--bs-green);
}

.single-ad img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.profile-page-section {
    min-height: 768px;
}

.choose-images-banner {
    background-color: #e7e7e7;
    min-height: 350px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.btn-add-images {
    position: absolute;
    bottom: 22px;
    right: 22px;
}

.set-banner-ad > button {
    position: relative;
    transform: translateY(-50%);
    z-index: 99;
    border-radius: 22px;
    background-color: #4b4b4d;
    color: white;
    border: 1px solid #e7e7e7;
    padding: 72px;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@media (max-width: 580px) {
    .notifification-dropdown.dropdown-menu {
        transform: translateX(-50%);
    }
    .btn.fetch-location>img {
        max-height: 18px;
        width: auto !important;
    }
    .footer-logo {
        max-width: 132px;
    }
}