* {
    scrollbar-color: #373177 #f1f1f1;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #373177;
}

::-webkit-scrollbar-thumb:hover {
    background: #f3764a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.pade-loader {
    z-index: 9999;
    display: flex;
}

.bg-dark-seconday {
    background-color: #1c1c1e !important;
}

.notifification-dropdown {
    max-height: 300px;
    overflow: auto;
    min-width: 300px;
}

.min-vh-50 {
    min-height: 50vh !important;
}

.home-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.owl-controls.clickable {
    position: absolute;
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
    margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
    background-color: var(--bs-light);
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@media (max-width: 580px) {
    .notifification-dropdown.dropdown-menu {
        transform: translateX(-50%);
    }
}